*{
    margin: 0%;
    padding: 0%;
}


.container{
    max-width: 1540px;
    margin: -1px;
}

.color-acento{ color:rgb(92, 92, 94); }

header{
    background-color: rgb(0, 0, 0);
    
}


.hero{
    width: 100%;
    height: 120vh;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    padding: 0.1px 4%;
    justify-content:flex-end;
}

nav{
    width: 97%;
    position:fixed;
    top: 0;
    left: 0;
    padding: 00.2px 1%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #5f5f5f86;
}

nav .logo{
    width: 95px;
}

nav ul li{
    list-style:georgian;
    display: inline-block;
    margin-left:0%;
    font-family:'Courier New', Courier, monospace;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

header .container{
    display: flex;
    flex-direction: inherit;
    align-items: center;
}


.container{
    position:absolute;
    left:50%;
    top:55%;
    transform: translate(-50%,-50%);
    width:1800px;
    height:510px;
    padding:60px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #615f5f;
}
#slide{
    width:max-content;
    margin-top:100px;
}
.item{
    width:360px;
    height:400px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #918f8f82;
    
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:50%;
}
.item:nth-child(4){
    left:calc(50% + 220px);
}
.item:nth-child(5){
    left:calc(50% + 440px);
}
.item:nth-child(n+6){
    left:calc(50% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#8d8d8d5c;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .mision{
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    background: #171616a2;
    opacity: .3;
    font-family:'Times New Roman', Times, serif;
    justify-content:center;
    text-shadow: -3px 0px 3px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 2;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .mision-des{
    margin: 25px;
    font-weight:1.2;
    font-size: 25px;
    width: 400px;
    height: 213px;
    background: #0f0f0f82;
    opacity: .3;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:center;
    text-shadow: -30px 0px -7px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
     }
.item .quienes{
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    background: #171616a2;
    opacity: .3;
    font-family:'Times New Roman', Times, serif;
    justify-content:center;
    text-shadow: -3px 0px 3px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 2;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .quienes-des{
    margin: 25px;
    font-weight:1.2;
    font-size: 25px;
    width: 500px;
    height: 213px;
    background: #0f0f0f82;
    opacity: .3;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:flex-start;
    text-shadow: -30px 0px -7px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
     }
.item .vision{
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    background: #171616a2;
    opacity: .3;
    font-family:'Times New Roman', Times, serif;
    justify-content:center;
    text-shadow: -3px 0px 3px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 2;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .vision-des{
margin: 25px;
    font-weight:1.2;
    font-size: 25px;
    width: 400px;
    height: 213px;
    background: #0f0f0f82;
    opacity: .3;
    font-family:Arial, Helvetica, sans-serif;
    justify-content:center;
    text-shadow: -30px 0px -7px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item .valores{
    font-size: 40px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    background: #171616a2;
    opacity: .3;
    font-family:'Times New Roman', Times, serif;
    justify-content:center;
    text-shadow: -3px 0px 3px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 2;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .valores-des{
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 450px;
    height: 200px;
    background: #0f0f0f82;
    opacity: .4;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    text-shadow: -20px 0px -7px rgb(0, 0, 0);
    color: #ffffff;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}

.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: #bac383;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
    }
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}

.footer {
    height: 107%;
    width: 100%;
    text-align: center;
    justify-content: end;
      background-color: rgba(255, 255, 255, 0.4);
    }
  
  .footer p{
      line-height: 2.5;
      color: #000000;
      font-size: 16px;
      margin-bottom: 0px;
  }
  
  .ico{
      width: 3%;
  }
  
  .icot{
      width: 2.6%;
  }
  
  .icox{
      width: 4%;
  }